In [ ]:
df_clean = df.dropna(how='all')
df_clean = df.dropna()  # default how='any'

df['Age'] = df['Age'].fillna(df['Age'].mean())
df_filled = df.fillna("Unknown")
# option A: clip
df_nonneg = df.clip(lower=0)

# option B: in-place for numeric columns only
num_cols = df.select_dtypes(include='number').columns
df[num_cols] = df[num_cols].mask(df[num_cols] < 0, 0)

thresh = int(0.5 * len(df)) + 1  # require more than 50% non-null
df_pruned = df.dropna(axis=1, thresh=thresh)

df_replaced = df.replace(['N/A', 'Missing'], np.nan)

df_dedup = df.drop_duplicates(subset=['email'], keep='first')

df_salary = df.dropna(subset=['Salary'])

df['Marks'] = pd.to_numeric(df['Marks'], errors='coerce')

fillers = {'Age': df['Age'].mean(), 'Salary': df['Salary'].median()}
df = df.fillna(value=fillers)

total_nans = df.isna().sum().sum()
# per-column:
per_column = df.isna().sum()

df['Salary'] = df['Salary'].fillna(
    df.groupby('Department')['Salary'].transform('mean')
)

missing_pct = df.isna().mean(axis=1)  # fraction of missing per row
df_filtered = df[missing_pct <= 0.40]  # keep rows with <= 40% missing

In [9]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Age': [21, None, 33, None],
    'City': ['Delhi', 'Mumbai', None, 'Pune']})
df.isnull 
print(df)

  Name   Age    City
0    A  21.0   Delhi
1    B   NaN  Mumbai
2    C  33.0    None
3    D   NaN    Pune

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [10, -5, 30, -2],
    'B': [-7, 4, -1, 8]
})
df.clip(lower=0)

    A  B
0  10  1
1   1  4
2  30  1
3   1  8

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [10, -5, 30, -2],
    'B': [-7, 4, -1, 8]
})
df.clip(lower=1 ,upper=20)
df2 = df.copy()
df2['A'] = df2['A'].clip(lower=0)   # only A clipped
print(df2)
df3 = df.assign(A = df['A'].clip(lower=0))

    A  B
0  10 -7
1   0  4
2  30 -1
3   0  8

In [15]:
lower_bounds = pd.Series({'A': 0, 'B': -2})    # per-column lower bounds
upper_bounds = pd.Series({'A': 25, 'B': 5})    # per-column upper bounds

df_colwise = df.clip(lower=lower_bounds, upper=upper_bounds, axis=1)
print(df_colwise)

    A  B
0  10 -2
1   0  4
2  25 -1
3   0  5

In [3]:
import pandas as pd

df = pd.DataFrame({
    'A': [12, -4, 55, 3],
    'B': [-10, 7, 14, -1],
    'C': [100, -20, 25, 0]
})
# Task

# Clip the DataFrame with different lower bounds per column:

# A → min 0

# B → min -5

# C → min 10
1

# lower = pd.Series({'A': [12,-4,55,3], 'B':[-10,7,14,-1] , 'C': [100,-20,25,0]})
df.clip(lower=0,upper=50)

    A   B   C
0  12   0  50
1   0   7   0
2  50  14  25
3   3   0   0